@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Square Radio Buttons */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
input[type="radio"]:checked {
  border-color: red;
  background-color: red;
}

#modalContainer {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: left 0.3s ease;
}

.modalContent {
  height: 100%;
  width: 450px;
  margin-right: auto;
  background-color: white;
}

#modalContent {
  height: 100%;
  width: 450px;
  margin-right: auto;
  background-color: white;
}


#closeModal {
  position: absolute;
  top: 0;
  right: 1em;
}
#modalContainer.open {
  left: 0;
}

.toast {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(185 28 28);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  display: none;
}

.toast.show {
  display: block;
}

.text-sm {
  font-size: 14px;
}


.loader-bg {
  height: 100vh;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  top: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.small-img {
  height: 100%;
  aspect-ratio: 1/1;
}

.cart-items {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 200px 1fr 1fr 30px;
  grid-template-rows: 30px;
}

.delete-item {
  margin-left: .5em;
  color: red;
}

.loader-bg.active {
  display: none;
}

.lds-dual-ring {
  position: fixed;
  width: 80px;
  top: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
}

.filterDiv {
  position: sticky;
  top: 1em;
}

.lds-dual-ring.active {
  display: none;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9c0404 transparent #9c0404 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.side-by-2 {
  display: grid;
  grid-template-columns: 300px 2fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 100px);
}

.hero {
  height: 400px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5em;
  height: 400px;
  background-image: linear-gradient(rgba(62, 62, 62, 0.373),
  rgba(62, 62, 62, 0.45)), url("./assets/heroimg.png");
  background-position: top center;
}

.grid .box {
  height: 100%;
}

.grid .box img {
  width: 100%;
  aspect-ratio: 1/1;
}
.grid-by-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .4em;
}


#cartCount {
  position: relative;
  top: -5px;
  right: 2px;
  /* clip-path: circle(); */
  width: 50px;
  height: 50%;
}
.grid-by-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: .8em;
}

.product-item  {
  aspect-ratio: 1/1;
  width: 40%;
  margin: 0 auto;
}

.grid-by-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 600px) {
  .products {
    display: flex;
    flex-direction: column;
  }
  .grid-by-5 {
    display: flex;
    flex-direction: column;
    gap: .8em;
  }

  #productList {
    grid-template-columns: repeat(3, 1fr);
  }

  
}

@media only screen and (max-width: 800px) {
  .grid-by-2 {
    grid-template-columns: 1fr;
  }
}